name: Publish ICS Files
on:
    push:
       branches: [main]
jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Create ICS Directory
        run: mkdir ics

      - name: Generate ICS files from JSON
        run: uv run main.py

      - name: Upload ICS Artifacts
        run: uv run main.py

      - name: Upload static ICS files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
            path: ics/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
